body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-size: 40px;
    color: dimgray;
}
h1 {
    font-size: 50px;
    color: #e84393
}
p {
    color: #333;
}
/* Header-Area */
section {
    height: 500px;
    padding-bottom: 150px;
}
.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}
.half-width img {
    width: 70%;
}
.Header-Area {
    background: url("images/header-bg.png") no-repeat left / cover;
}
.link-button {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 5px;
    background: linear-gradient(45deg, #fd79a8, #e84393)
}
/* Biography */
.Middle-Area {
    background: url("images/biography-bg.png") no-repeat left / cover;
}
/* Latest Work */
.Work-Area {
    background: url("images/latest-work-bg.png") no-repeat left / cover;
}
.latest-work {
    text-align: center;
    margin-top: 100px;
}
.box img {
    width: 25%;
    height: auto;
    padding-top: 30px;
    float: left;
    margin-left: 6%;
}
/* Client Say */
.Client {
    background: url("images/footer-bg.png") no-repeat left / cover;
}
.Client h2 {
    text-align: center;
}
.Client h4 {
    text-align: center;
}
.Client p {
    text-align: center;
    font-size: medium;
}
.designation {
    font-size: 14px;
    color: gray;
}
.big-button {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    padding: 50px 20px;
    border-radius: 10px;
    background: linear-gradient(45deg, #fd79a8, #e84393);
    text-align: center;
    height: auto;
    width: 500px;
    margin: auto;
}
.mail {
    font-weight: 900;
    font-size: 28px;
}
/* Fotter-Area */
footer p {
    text-align: center;
    font-size: 12px;
}
